*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

.logo-light{
    color: #f5953c;
    padding-top: 150px;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-align: center;
    padding: 2%;
    margin: 7%;
    border: 5px solid #091745;
    background-color: #091745;
    box-shadow: 0 0 25px rgba(15, 9, 95, 0.45);
    border-radius: 20px;

}

.logo-dark{
  color: #f5953c;
  padding-top: 150px;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  text-align: center;
  padding: 2%;
  margin: 7%;
  border: 5px solid #091745;
  background-color: #091745;
  box-shadow: 0 0 25px rgba(15, 9, 95, 0.45);
  border-radius: 20px;

}
.sec-center {
  position: relative;
  max-width: 100%;
  text-align: center;
  z-index: 100;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: center;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
}
.dark-light:checked + label,
.dark-light:not(:checked) + label{
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 20000;
  display: block;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  cursor: pointer;
  transition: all 200ms linear;
  box-shadow: 0 0 25px rgba(255,235,167,.45);
}
.dark-light:checked + label{
  transform: rotate(360deg);
}
.dark-light:checked + label:after,
.dark-light:not(:checked) + label:after{
  position: absolute;
  content: '';
  top: 1px;
  left: 1px;
  overflow: hidden;
  z-index: 2;
  display: block;
  border-radius: 50%;
  background-image: url('https://assets.codepen.io/1462889/sun.svg');
  width: 44px;
  height: 44px;
  background-color: #f5953c;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms linear;
  opacity: 0;
}
.dark-light:checked + label:after {
  opacity: 1;
}
.dark-light:checked + label:before,
.dark-light:not(:checked) + label:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  display: block;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  background-color: #091745;
  background-image: url('https://assets.codepen.io/1462889/moon.svg');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms linear;
}
.dark-light:checked + label:before{
  background-color: #f5953c;
}

.dark-light:checked ~ .light-back{
  opacity: 1;
}
.dropdown:checked + label,
.dropdown:not(:checked) + label{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 35px;
  height: 100px;
  transition: all 200ms linear;
  border-radius: 20px;
  width: 440px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  
  justify-content: center;

  text-align: center;
  border: none;
  background-color: #091745;
  cursor: pointer;
  color: #f5953c;
  box-shadow: 0 12px 35px 0 rgba(255,235,167,.15);
}
.dark-light:checked ~ .sec-center .for-dropdown{
  color: #091745;
  background-color: #f5953c;
  box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
  
}
.dropdown:checked + label:before,
.dropdown:not(:checked) + label:before{
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: auto;
  pointer-events: none;
  
}
.dropdown:checked + label:before{
  pointer-events: auto;
}
.dropdown:not(:checked) + label .uil {
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.dropdown:checked + label .uil {
  transform: rotate(180deg);
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.section-dropdown {
  position: absolute;
  padding: 5px;
  background-color: #091745;
  color: white;
  top: 25px;
  left: 0;
  width: 20%;
  border-radius: 4px;
  display: block;
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.4);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 200ms linear;
  justify-content: center;
  margin-left: 40%;
 

}
.dark-light:checked ~ .sec-center .section-dropdown {
  background-color: #fff;
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.15);
}
.dropdown:checked ~ .section-dropdown{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.section-dropdown:before {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  content: '';
  display: block;
  z-index: 1;
}
.section-dropdown:after {
  position: absolute;
  top: -928374px;
  left: 30px;
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; 
  border-bottom: 8px solid #091745;
  content: '';
  display: block;
  z-index: 2;
  transition: all 200ms linear;
}
.dark-light:checked ~ .sec-center .section-dropdown:after {
  border-bottom: 8px solid #fff;
}

a {
  position: relative;
  color: #fff;
  transition: all 200ms linear;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  margin: 2px 0;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
    -ms-flex-pack: distribute;
}
.dark-light:checked ~ .sec-center .section-dropdown a {
  color: #091745;
}
a:hover {
  color: #091745;
  background-color: #f5953c;
}
.dark-light:checked ~ .sec-center .section-dropdown a:hover {
  color: #f5953c;
  background-color: #091745;
}
a .uil {
  font-size: 22px;
}
.dropdown-sub:checked + label,
.dropdown-sub:not(:checked) + label{
  position: relative;
  color: #f5953c;
  transition: all 200ms linear;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
    -ms-flex-pack: distribute;
    cursor: pointer;
}
.dropdown-sub:checked + label .uil,
.dropdown-sub:not(:checked) + label .uil{
  font-size: 22px;
}
.dropdown-sub:not(:checked) + label .uil {
  transition: transform 200ms linear;
}
.dropdown-sub:checked + label .uil {
  transform: rotate(135deg);
  transition: transform 200ms linear;
}
.dropdown-sub:checked + label:hover,
.dropdown-sub:not(:checked) + label:hover{
  color: #091745;
  background-color: #f5953c;
}
.dark-light:checked ~ .sec-center .section-dropdown .for-dropdown-sub{
  color: #091745;
}
.dark-light:checked ~ .sec-center .section-dropdown .for-dropdown-sub:hover{
  color: #f5953c;
  background-color: #091745;
}

.section-dropdown-sub {
  position: relative;
  display: block;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  max-height: 0;
  padding-left: 10px;
  padding-right: 3px;
  overflow: hidden;
  transition: all 200ms linear;
}
.dropdown-sub:checked ~ .section-dropdown-sub{
  pointer-events: auto;
  opacity: 1;
  max-height: 999px;
}
.section-dropdown-sub a {
  font-size: 14px;
}
.section-dropdown-sub a .uil {
  font-size: 20px;
}

.dark-light:checked ~ .logo img{
  filter: brightness(10%);
}

@media screen and (max-width: 991px) {}



.dark-light:checked + label,
.dark-light:not(:checked) + label{
  top: 20px;
  right: 20px;
}

.menu{
    color: aqua;
    border: 5px solid black;
    padding: 1%;
    margin: 3%;

}

.wrapper{
    padding: 10%;
    margin: 10%;
    border: 5px solid black;
}

.wrapper2{
    float: left;
    background-color: gray;
}

.text-center{
    text-align: center;
}

.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
}

.col-4{
    width: 10%;
    background-color: gray;
    border: 2px solid black;
    margin: 2%;
    padding: 3%;
    float: left;
}

.login{
    padding: 10%;
    margin: 10%;
}

.clearfix{
    float: none;
    clear: both;
}

.button-uva{
  background-color: #091745;
  color: white;
  padding: 4%;
  border-radius: 4px;


}

.button-orange{
  background-color: #f5953c;
  color: #091745;
  padding: 4%;
  border-radius: 4px;


}